body {
  margin: 0;
  font-family: Arial;
  background: #1e1e2f;
  color: white;
  text-align: center;
}

.container {
  margin-top: 50px;
}

h1 {
  font-size: 40px;
}

button {
  display: block;
  margin: 10px auto;
  padding: 15px 25px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #4CAF50;
  color: white;
  transition: 0.2s;
}

button:hover {
  background: #45a049;
  transform: scale(1.05);
}
